{% extends "libros.html" %}
{% block content %} Blanca nieves {% endblock %}
{% block parrafo %}
Blanca nieves es un cuento de hadas que narra la historia de una joven princesa llamada Blanca Nieves, quien es perseguida por su malvada madrastra, la Reina Malvada. La historia sigue las aventuras de Blanca Nieves mientras busca refugio en el bosque y encuentra a siete enanitos que la ayudan a escapar de la malvada reina. A lo largo del cuento, Blanca Nieves enfrenta diversos desafíos y peligros, pero finalmente encuentra la felicidad y el amor verdadero. Es un cuento clásico que ha sido adaptado en numerosas ocasiones en diferentes formatos, como películas, obras de teatro y libros infantiles.
{% endblock %}


