{% extends "libros.html" %}

{% block content %} Caperucita Roja {% endblock %}
{% block parrafo %}
Caperucita Roja es un cuento de hadas que narra la historia de una niña llamada Caperucita, quien lleva una cesta con comida a su abuela. En el camino, Caperucita se encuentra con un lobo que la engaña y va a la casa de su abuela primero. El lobo se disfraza como la abuela y trata de comer a Caperucita, pero finalmente es descubierto y derrotado. Es un cuento clásico que ha sido adaptado en numerosas ocasiones en diferentes formatos, como películas, obras de teatro y libros infantiles.
{% endblock %}

